<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pesquisa em PDF</title>
</head>
<body>
    
    <h1>Pesquisa em PDF</h1>
    <form action="/find_pdf/templates/results.html" method="post" enctype="multipart/form-data">
        <label for="pdf_file">Selecione um arquivo PDF:</label>
        <input type="file" name="pdf_file" id="pdf_file" required>
        <br><br>
        <label for="search_term">Termo de pesquisa:</label>
        <input type="text" name="search_term" id="search_term" required>
        <br><br>
        <button type="submit">Pesquisar</button>
    </form>
</body>
</html>
